<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自定义UIButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E75B82711D34D6D600517865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E75B828A1D34D6D700517865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E75B82951D34D6D700517865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
